.hh-user{
  
    .hh-user-nav{
        padding: 2px 0 10px;
        min-height: 10vh;
        background-color: #409EFF;
        border-radius: 0 0 50% 50%;
        display: grid;
        grid-template-columns: 80% 20%;
        .hh-user-search{
            width: 100%;
            padding: 0 10px;
            .hh-form-ipt{
                width: 100%;                
            }
        }
        .hh-user-btn{
            
        }
    }
}