.hh-okr{
    width: 100%;
    height: 100%;
    background-color: #F6F7F9;
    .hh-header{
        .hh-time{
            .hh-time-item{

            }
        }
    }
    .hh-form{
        .hh-form-item{
            background-color: #fff;
            margin-top: 10px;
            border-radius: 2px;
            padding: 5px;
            font-size: 12px;
            text-align: left;
            .hh-form-nav{
                border-bottom: 1px solid #F6F7F9;
            }
            .hh-form-list{
                
                .hh-form-list-item{
                    display: grid;
                    grid-template-columns: 30px 1fr;
                    border-bottom: 1px solid #F6F7F9;
                    .hh-form-list-icon{
                        text-align: center;
                    }
                }
            }
            .hh-form-add{
                text-align: left;
            }
        }
    }
}