.App {
  text-align: center;
  color: red;
  &-logo {
    color: red;
  }
}
// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }