.hh-index{
    header{
        .hh-avatar{
            position: fixed;
            left: 15px;
            top: 5px;
            // overflow: hidden;
            color: #000;
            vertical-align: middle;
            font-size: 16px;
            text-decoration: none;
            line-height: 30px;
            img{
                width: 30px;
                height: 30px;
                vertical-align: middle;
                border-radius: 50%;
                margin-right: 5px;
            }
        }
        .hh-message{
            @extend .hh-avatar;
            overflow: inherit;
            right: 15px;
            left: auto;
            color: #000;
            font-size: 20px;
            a{
                color: #Fff;
            }
        }
    }
    section{
        text-align: center;
        .hh-btn-add{
            width: 40%;
            text-align: center;
            display: inline-block;
            color: #fff;
            background-color: #409eff;
            border-color: #409eff;
            white-space: nowrap;
            cursor: pointer;
            -webkit-appearance: none;
            text-align: center;
            box-sizing: border-box;
            outline: none;
            margin: 10px;
            transition: .1s;
            font-weight: 500;
            padding: 5px 10px;
            font-size: 14px;
            border-radius: 4px;
        }
        &.hh-clock-content{
            text-align: center;
            .hh-last-time{
                display: grid;
                grid-template-columns: 31% 23% 23% 23%;
                font-size: 12px;
                .hh-last{
                    color: gold;
                }
            }
        }
    }
}
@media screen and (max-width: 786){
    .hh-index{
        header{
            width: 100vw;
            .hh-avatar{
                img{
                }
            }
            .hh-message{
            }
        }
    }
}